<header>
    <div class="max-width-content-header">
        <a href="./index.html">
            <div class="logo-link">
                <img src="./img/logo_white.png" alt="">
                <p>Lieferando</p>
            </div>
        </a>
        <a href="#maps">
            <h4>Wiedstraße 49 | 576120 Altenkirchen</h4>
        </a>
        <div id="header-Icons" class="header-right-end">
            <img onclick="changeEnglish()" id="german" class="german-flag" src="./img/german.png" alt="">
            <a href="./index.html"><img id="english" class="german-flag d-none" src="./img/english.png" alt=""></a>
            <div onclick="showBasketResponsive()" class="sidebar-button">
                <img src="./img/shopping_bag.png" alt="">
            </div>
        </div>
    </div>
</header>